extends layout

block content
  h1= title
  p Welcome to #{title}


  form#newLyrics(onsubmit="return false")

    div.form
      fieldset

        div.someClassForTitle
          label(for='title') Title:
          input#title.form-control(type='text', placeholder='Some title' name='title')

        div.form-group.right
          label(for='description') description:
          input#description.form-control(type='text', placeholder='Some description' name='description')

        //div.form-group.right
        //  label(for='artist') Lyrics:
        //  input#artist.form-control(type='text', placeholder='artist' name='artist')

        button#submit.btn(type='button') Add


  div.someClass
    button#fetch-data.btn(type='button') Fetch


  script(src='javascripts/script.js')
